/* Less variables */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex .flex-shrink-zero {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex .flex-zero-zero-auto {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.flex .flexitem-left-main {
  margin-right: auto;
}
.flex .flexitem-right-main {
  margin-left: auto;
}
.flex .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex-row .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex-row .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-row .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-row .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-row .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-row .flex-shrink-zero {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-row .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-row .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-row .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-row .flex-zero-zero-auto {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.flex-row .flexitem-left-main {
  margin-right: auto;
}
.flex-row .flexitem-right-main {
  margin-left: auto;
}
.flex-row .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex-row .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex-row .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex-row .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex-row .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-col .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex-col .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex-col .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-col .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-col .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-col .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-col .flex-shrink-zero {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-col .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-col .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-col .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-col .flex-zero-zero-auto {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.flex-col .flexitem-left-main {
  margin-right: auto;
}
.flex-col .flexitem-right-main {
  margin-left: auto;
}
.flex-col .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex-col .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex-col .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex-col .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex-col .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-left-main {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-right-main {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-center-main {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-space-between-main {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-space-around-main {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex-center-cross {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-start-cross {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-end-cross {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex-stretch-cross {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
/* Needed for ui-bootstrap */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
body {
  font-family: 'AvenirNext-Regular', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
header {
  font-size: 2rem;
}
header .top {
  height: 50px;
  padding: 0 20px;
}
header .top a.name {
  font-family: 'AvenirNext-UltraLight', Helvetica, sans-serif;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
header .top a.name:hover {
  color: #41b7d8;
}
header .top a.name span {
  font-family: 'AvenirNext-DemiBold', Helvetica, sans-serif;
}
header .navigator {
  color: #444;
  border-bottom: 0;
}
header .navigator ul.menu {
  font-weight: 700;
  text-transform: uppercase;
}
header .navigator ul.menu li {
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
}
header .navigator ul.menu li#workbtn,
header .navigator ul.menu li#expbtn,
header .navigator ul.menu li#skillsbtn,
header .navigator ul.menu li#careersbtn {
  padding: 0 6px;
}
header .navigator ul.menu li:first-child {
  padding-right: 6px;
}
header .navigator ul.menu li:last-child {
  padding-left: 6px;
}
header .navigator ul.menu li a {
  color: inherit;
  text-decoration: none;
}
header .navigator ul.menu li a:hover {
  color: #41b7d8;
}
header .navigator ul.menu li.selected a {
  color: #41b7d8;
}
@media screen and (min-width: 0px) {
  .top {
    position: relative;
  }
  .top .desktop-links {
    display: none;
  }
  .top .mobile-links {
    z-index: 100010;
  }
  .top .mobile-links .hamburger {
    border: 7px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 0.25s ease-in;
  }
  .top .mobile-links .hamburger:focus {
    outline: none;
  }
  .top .mobile-links.expand .hamburger {
    background: rgba(47, 54, 66, 0.6);
    transition: all 0.25s ease-out;
  }
  .top .mobile-links .hamburger span {
    display: block;
    width: 19px;
    height: 2px;
    margin: 2px 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .top .mobile-links.expand .hamburger span {
    background: rgba(255, 255, 255, 0.8);
  }
  .top .mobile-links .hamburger span:first-of-type {
    margin-top: 2px;
  }
  .top .mobile-links .hamburger span:last-of-type {
    margin-bottom: 0;
  }
  .top .mobile-links .mobile-menu {
    display: none;
    position: absolute;
    top: 90%;
    right: 20px;
    width: 50%;
    max-width: 200px;
    background-color: #777;
  }
  .top .mobile-links.expand .mobile-menu {
    display: block !important;
  }
  .top .mobile-links .mobile-menu ul {
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 14px;
  }
  .top .mobile-links .mobile-menu ul li {
    margin-bottom: 20px;
  }
  .top .mobile-links .mobile-menu ul li:first-child {
    margin-top: 20px;
  }
  .top .mobile-links .mobile-menu ul li a {
    text-decoration: none;
    color: white;
  }
  .navigator {
    text-align: center;
  }
  .navigator ul.menu {
    position: relative;
    font-size: 0.75em;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .top .mobile-links {
    display: none;
  }
  .top .desktop-links {
    display: block;
  }
  .top .desktop-links {
    margin-bottom: 0;
  }
  .top .desktop-links li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 62.5%;
    text-align: center;
  }
  .top .desktop-links li a {
    text-decoration: none;
    color: #444;
  }
  .top .desktop-links li a i {
    font-size: 2.5em;
    opacity: 0.3;
  }
  .top .desktop-links li a i:hover,
  .top .desktop-links li a i:focus,
  .top .desktop-links li a i:active {
    opacity: 1;
    color: #41b7d8;
  }
  .top .desktop-links li.resumeButton {
    margin-right: 30px;
  }
  .navigator {
    position: relative;
    text-align: left;
  }
  .navigator ul.menu {
    float: right;
  }
}
@media screen and (min-width: 0px) {
  .navigator {
    text-align: center;
  }
  .navigator ul.menu {
    position: relative;
    font-size: 0.75em;
    padding: 0;
  }
}
.theview {
  position: relative;
}
.admin-container,
.docusign-container,
.echosign-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px;
  margin-bottom: 10px;
}
section .summary {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: .9em;
}
section .summary ul {
  list-style: disc;
  padding-left: 25px;
}
section .summary ol {
  list-style-type: decimal;
  padding-left: 20px;
}
section .summary .patent {
  font-size: .80em;
}
section .summary .patent a {
  text-decoration: none;
}
section .summary .patent a:link,
section .summary .patent a:visited {
  color: inherit;
}
.browserType {
  font-size: .6em;
}
.browserType .isMobile {
  font-weight: 700;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #d88b41;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #d88b41;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #d88b41;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #d88b41;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #d88b41;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #d88b41;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d88b41;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d88b41;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d88b41;
}
.fadeOutDown.ng-leave {
  -webkit-animation-name: fadeOutDown;
  -webkit-animation-duration: .6s;
  -webkit-animation-timing-function: ease-in;
  animation-name: fadeOutDown;
  animation-duration: .6s;
  animation-timing-function: ease-in;
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
.fadeInDown.ng-enter {
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
  animation-name: fadeInDown;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeOutUp.ng-hide-add {
  -webkit-animation-name: fadeOutUp;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: ease-in;
  animation-name: fadeOutUp;
  animation-duration: .2s;
  animation-timing-function: ease-in;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
.fadeInDownNow.ng-hide-remove {
  -webkit-animation-name: fadeInDownNow;
  -webkit-animation-duration: .6s;
  -webkit-animation-timing-function: ease-out;
  animation-name: fadeInDownNow;
  animation-duration: .6s;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fadeInDownNow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownNow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/* Views */
#docusign.content {
  position: relative;
}
.ds-api {
  margin-top: 10px;
}
.ds-api p {
  margin-bottom: 0px;
}
.ds-api button {
  margin-bottom: 3px;
}
.ds-api.account-api {
  margin-top: 0;
}
.response-output {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  max-height: 400px;
}
.response-output pre {
  font-size: 10px;
  background-color: white;
  border: none;
}
